	<footer class="footer">
		<div class="full rel">
			<a href="#" class="footer__logo"><img src="i/logo.png" alt="streamazer"></a>
			<div class="footer__copyright">
				<p>Продвижения Stream-каналов</p>
				<p>© 2017  streamazer</p>
			</div>
			<nav class="footer__nav">
				<a href="#" class="footer__nav-item">Блог проекта</a>
				<a href="#" class="footer__nav-item">Интересные статьи</a>
				<a href="#" class="footer__nav-item">Партнерская программа</a>
				<a href="#" class="footer__nav-item">Продюсирование</a>
				<a href="#" class="footer__nav-item">Пользовательское соглашение</a>
			</nav>
			<div class="footer__social">
				<p class="footer__social-title">Мы в соц сетях:</p>
				<a href="#" class="footer__social-item footer__social-item--vk"></a>
				<a href="#" class="footer__social-item footer__social-item--twitter"></a>
				<a href="#" class="footer__social-item footer__social-item--youtube"></a>
				<a href="#" class="footer__social-item footer__social-item--fb"></a>
			</div>
			<div class="footer__payment">
				<p class="footer__payment-title">Способ оплаты:</p>
				<img src="i/pay/yandex-money.png" alt="" class="footer__payment-item">
				<img src="i/pay/webmoney.png" alt="" class="footer__payment-item">
				<img src="i/pay/qiwi.png" alt="" class="footer__payment-item">
				<img src="i/pay/alpha-bank.png" alt="" class="footer__payment-item">
				<img src="i/pay/visa.png" alt="" class="footer__payment-item">
				<img src="i/pay/sberbank.png" alt="" class="footer__payment-item">
				<img src="i/pay/maestro.png" alt="" class="footer__payment-item">
				<img src="i/pay/mastercard.png" alt="" class="footer__payment-item">
			</div>
		</div>
	</footer>
	<div class="modal" id="test">
		<div class="modal__text">
			Для заказа пакета услуг, пожалуйста, зарегистриутесь или авторизируйтесь
		</div>
		<div class="modal__btns">
			<a href="#" class="btn btn--border">Регистрация</a>
			<a href="#" class="btn btn--border">Вход</a>
		</div>
	</div>
	<script>window.jQuery || document.write('<script src="js/jquery.js"><\/script>')</script>
	<script src="js/plugins.js"></script>
	<script src="js/main.js"></script>
</body>
</html>