<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Streamazer</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:400,500,600|Open+Sans:400,600,700&amp;subset=cyrillic">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/plugins.css">
</head>
<body>
	<div class="menu">
		<a href="#" class="menu__logo"><img src="i/logo.png" alt="streamazer"></a>
		<a href="#" class="menu__close"></a>
		<nav class="menu__nav">
			<a href="#" class="menu__nav-item">О проекте</a>
			<a href="#" class="menu__nav-item">FAQ</a>
			<a href="#" class="menu__nav-item">Тарифы</a>
			<a href="#" class="menu__nav-item">Контакты</a>
			<a href="#" class="menu__nav-item">Вход</a>
			<a href="#" class="menu__nav-item">Регистрация</a>
		</nav>
		<div class="menu__lang">
			<a href="#" class="menu__lang-item menu__lang-item--active">ru</a>
			<a href="#" class="menu__lang-item">en</a>
		</div>
	</div>
	<header class="header">
		<div class="header__stars"></div>
		<div class="full header__main">
			<a href="#" class="header__menu js-menu-link">Меню</a>
			<a href="#" class="header__logo"><img src="i/logo.png" alt="streamazer"></a>
			<nav class="header__nav">
				<a href="#" class="header__nav-item">О проекте</a>
				<a href="#" class="header__nav-item">FAQ</a>
				<a href="#" class="header__nav-item">Тарифы</a>
				<a href="#" class="header__nav-item">Контакты</a>
			</nav>
			<div class="header__lang">
				<span class="header-lang__current">ru</span>
				<div class="header-lang__list">
					<a href="#" class="header-lang__item">en</a>
				</div>
			</div>
			<a href="#" class="header__login-link">Вход</a>