<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Streamazer</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:300,400,500,600|Open+Sans:400,600,700&amp;subset=cyrillic">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/plugins.css">
</head>
<body>
//= menu.html
	<header class="header header--home">
		<div class="header__stars"></div>
		<div class="header__bg"></div>
		<div class="full header__main">
			<a href="#" class="header__menu js-menu-link">Меню</a>
			<a href="#" class="header__logo"><img src="i/logo.png" alt="streamazer"></a>
			<nav class="header__nav">
				<a href="#" class="header__nav-item">О проекте</a>
				<a href="#" class="header__nav-item">FAQ</a>
				<a href="#" class="header__nav-item">Тарифы</a>
				<a href="#" class="header__nav-item">Контакты</a>
			</nav>
			<div class="header__lang">
				<span class="header__lang-current">ru</span>
				<div class="header__lang-list">
					<a href="#" class="header__lang-item">en</a>
				</div>
			</div>
			<a href="#" class="header__login-link">Вход</a>
			<p class="header__slogan header__slogan--home"><span data-slogan="Стань популярным" class="header__slogan--shadow">Стань популярным</span> <span class="header__slogan--ready header__slogan--shadow" data-slogan="уже">уже</span> <span class="header__slogan--today header__slogan--shadow" data-slogan="сегодня">сегодня</span></p>
			<p class="header__description header__description--home">Качественное проджижение стрима на <span class="header__description--youtube">YouTube</span></p>
			<a href="#" class="header__register-link header__register-link--home">Регистрация</a>
		</div>
	</header>