<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Streamazer</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:300,400,500,600|Open+Sans:400,600,700&amp;subset=cyrillic">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/plugins.css">
</head>
<body>
	<div class="menu">
		<a href="#" class="menu__close menu__close--panel"></a>
		<div class="menu__avatar"><img src="i/avatar.jpg" alt="%username%"></div>
		<div class="menu__balance">Ваш баланс: <span class="menu__balance--value">100 руб.</span></div>
		<div class="menu__btns">
			<a href="#" class="btn btn--small btn--border menu__btn-plus">пополнить</a>
			<a href="#" class="btn btn--small btn--border menu__btn-minus">вывести</a>
		</div>
		<nav class="menu__nav">
			<a href="#" class="menu__nav-item">Панель управления</a>
			<a href="#" class="menu__nav-item">Тарифы</a>
			<a href="#" class="menu__nav-item">История платежей</a>
			<a href="#" class="menu__nav-item">Бонусы и акции</a>
			<a href="#" class="menu__nav-item">Новости проекта</a>
			<a href="#" class="menu__nav-item">Персональное предложение</a>
			<a href="#" class="menu__nav-item">Партнерская программа</a>
			<a href="#" class="menu__nav-item">Продюсирование</a>
			<a href="#" class="menu__nav-item">FAQ</a>
			<a href="#" class="menu__nav-item">Пользовательское соглашение</a>
		</nav>
		<div class="menu__gohome"><a href="#" class="menu__gohome-link">На главную</a></div>
	</div>
	<header class="header-panel">
		<div class="full header__main">
			<a href="#" class="header-panel__menu js-menu-link">Меню</a>
			<a href="#" class="header-panel__logo"><img src="i/logo.png" alt="streamazer"></a>
			<p class="header-panel__title">Панель управления</p>
			<p class="header-panel__balance">Ваш баланс: 100 руб.</p>
			<div class="header-panel__btns">
				<a href="#" class="btn btn--small btn--border menu__btn-plus">пополнить</a>
				<a href="#" class="btn btn--small btn--border menu__btn-minus">вывести</a>
			</div>
			<img src="i/avatar.jpg" alt="%username%" class="header-panel__avatar">
		</div>
	</header>