	<div class="menu">
		<a href="#" class="menu__close"></a>
		<div class="menu__logo"><a href="#"><img src="i/logo.png" alt="streamazer"></a></div>
		<nav class="menu__nav">
			<a href="#" class="menu__nav-item">О проекте</a>
			<a href="#" class="menu__nav-item">FAQ</a>
			<a href="#" class="menu__nav-item">Тарифы</a>
			<a href="#" class="menu__nav-item">Контакты</a>
			<a href="#" class="menu__nav-item">Вход</a>
			<a href="#" class="menu__nav-item">Регистрация</a>
		</nav>
		<div class="menu__lang">
			<a href="#" class="menu__lang-item menu__lang-item--active">ru</a>
			<a href="#" class="menu__lang-item">en</a>
		</div>
	</div>