			<aside class="sidebar">
				<nav class="aside__nav">
					<a href="#" class="aside__nav-item aside__nav-item--active">Панель управления</a>
					<a href="#" class="aside__nav-item">Тарифы</a>
					<a href="#" class="aside__nav-item">История платежей</a>
					<a href="#" class="aside__nav-item">Бонусы и акции</a>
					<a href="#" class="aside__nav-item">Новости проекта</a>
					<a href="#" class="aside__nav-item">Персональное предложение <span class="aside__nav-item--yellow">(+1)</span></a>
					<a href="#" class="aside__nav-item">Партнерская программа</a>
					<a href="#" class="aside__nav-item">Продюсирование</a>
				</nav>
				<div class="aside__btns">
					<button class="aside__btn aside__btn--home">На главную</button>
					<button class="aside__btn aside__btn--faq">FAQ</button>
					<a href="#" class="aside__terms-of-use">Пользовательское соглашение</a>
				</div>
				<div class="aside__copyright">© 2017  streamazer.com</div>
			</aside>