/*  <vars>  */
fontFira = 'Fira Sans Condensed';
fontOpen = 'Open Sans';
/*  </vars>  */

/*  <text>  */
.page-title
	position relative
	color #fff
	font-weight 500
	font-size 5rem
	font-family fontFira
	line-height 4.4rem
	text-align center
	padding-bottom 18px
	margin 0
	&:before
		position absolute
		bottom 0
		left 50%
		width 30px
		height 6px
		background-color #d9a501
		content ''
		transform translateX(-50%)
/*  </text>  */

/*  <buttons>  */
.btn
	height 54px
	color #000
	font-weight 500
	font-size 2.4rem
	background-color #d9a501
	border 0
	border-radius (@height / 2)
	padding 0 37px
	box-shadow 4px 5px 4px rgba(#684e00, .42)
	transition all .2s
	^[0]&--blue
		background-color #71aed2
		box-shadow 4px 5px 4px rgba(#23678f, .42)
		&:hover
		&:active
			background-color #72c9ff
	^[0]&--green
		background-color #36c13c
		box-shadow 4px 5px 4px rgba(#0c7811, .42)
		&:hover
		&:active
			background-color #51ec4f
	^[0]&--red
		background-color #b63c3d
		box-shadow 4px 5px 4px rgba(#9f1717, .42)
		&:hover
		&:active
			background-color #d84042
	&:hover
	&:active
		text-decoration none
		background-color #fbc10a
	a^[0]
		display inline-block
		line-height 54px
	&--fullwidth
		width 100%
	&--border
		color #fff3cd
		background-color rgba(#000, .6)
		border 2px solid #bb8e00
		box-shadow 0 14px 21px rgba(#846505, .29)
		&:hover
		&:active
			color #000
			background-color #fbc10a
			border-color #fbc10a
	a^[0]&--border
		line-height 50px
	&--small
		height 36px
		font-size 1.8rem
		padding 0 15px
	a^[0]&--border&--small
		line-height 32px
	&--middle
		height 40px
		padding 0 18px
	a^[0]&--border&--middle
		line-height 36px
/*  </buttons>  */

/*  <inputs>  */
.input-text
	width 100%
	height 33px
	color #181818
	font-size 1.5rem
	background-color #919191
	border 0
	border-top 2px solid #8b8b8b
	padding 0 14px
	transition all .2s
	&:focus
		background-color #ececec
.textarea
	width 100%
	height 100px
	min-height 100px
	color #181818
	font-size 1.5rem
	background-color #919191
	border 0
	border-top 2px solid #8b8b8b
	padding 10px 14px
	resize vertical
	transition background-color .2s
	&:focus
		background-color #ececec
.select
	width 100%
/*  </inputs>  */

/*  <modal>  */
.modal
	display none
	width 810px
	background-color #5f5f5f
	border 5px solid #bb8e00
	padding 45px 120px 50px
	box-shadow 0 5px 19px rgba(#0000, .19)
	&:before
		position absolute
		top 16px
		left 25px
		width 68px
		height 62px
		background-image url('../i/logo.png')
		background-size auto 100%
		content ''
		filter drop-shadow(2px 6px 2px rgba(#000, .26))
	&__text
		color #fff
		font-size 2.8rem
		line-height 3.8rem
		text-align center
		p
			margin 0
	&__btns
		text-align center
		margin-top 40px
		.btn
			margin 0 10px
/*  </modal>  */

/*  <animations>  */
@keyframes stars
	from
		transform translate3d(0, 0, 0)
	to
		transform translate3d(-1920px, 0, 0)
@keyframes fade
	from
		opacity 0
	to
		opacity 1
@keyframes fly
	25%
		transform translate(-3px, 0)
	50% 
		transform translate(-6px, 5px)
	75%
		transform translate(-3px, 5px)
/*  </animations>  */

/*  <grid>  */
.col-main
	width 100%
	&--switcher
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		justify-content space-between
		@media screen and (min-width: 768px)
			justify-content flex-start
.col-half
	width 45%
	@media screen and (min-width: 768px)
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		align-items center
/*  </grid>  */