/*  <vars>  */
fontFira = 'Fira Sans Condensed';
fontOpen = 'Open Sans';
/*  </vars>  */

/*  <general>  */
body
	display -webkit-flex
	display -moz-flex
	display -ms-flex
	display -o-flex
	display flex
	flex-direction column
	color #e7e7e7
	font normal 1.5rem/1.3 fontOpen, sans-serif;
	background-color #353535
:-moz-placeholder
	opacity 1
	color currentColor
:-ms-input-placeholder
	opacity: 1
	color currentColor
a
	color inherit
	font inherit
	text-decoration none
	transition all .2s
	&:hover
		text-decoration underline
.main
	flex 1
	padding-bottom 40px
/*  </general>  */

/*  <menu>  */
.menu
	position fixed
	top 0
	right 0
	bottom 0
	z-index 7
	overflow-y auto
	width 300px
	font-weight 600
	font-size 2.1rem
	background-color #5c5c5c
	border-left 2px solid #d9a501
	transform translateX(103%)
	transition all .5s
	&--active
		transform translateX(0)
	&__cover
		position fixed
		top 0
		right 0
		bottom 0
		left 0
		z-index 6
		opacity .83
		background url('../i/menu__cover.png')
	&__close
		position absolute
		top 31px
		right 5%
		width 20px
		height @width
		&:before
		&:after
			position absolute
			top 50%
			left 0
			width 100%
			height 1px
			background-color #a8a8a8
			content ''
			transition all .2s
		&:before
			transform rotate(45deg)
		&:after
			transform rotate(-45deg)
		&:hover
			&:before
			&:after
				background-color #fff
	&__logo
		display block
		height 80px
		background-color #505050
		border-bottom 1px solid #4b4b4b
		padding 14px 20% 0 10%
		img
			filter "progid:DXImageTransform.Microsoft.Dropshadow(OffX=1, OffY=1,Color='#444')"
			filter drop-shadow(1px 1px 1px rgba(#000, .43))
	&__nav
		border-top 1px solid #6e6e6e
		padding 10px 10%
		&-item
			display block
			position relative
			padding 5px 0 5px 30px
			margin 5px 0
			&:before
				position absolute
				top 50%
				left 0
				width 10px
				height @width
				border solid #d9a501
				border-width 0 2px 2px 0
				content ''
				transform translateY(-50%) rotate(-45deg)
	&__lang
		margin 20px 10% 0 10%
		&-item
			display inline-block
			vertical-align middle
			width 64px
			height 34px
			color #e4e4e4
			font-weight 600
			font-size 2.1rem
			line-height 30px
			text-align center
			background-color rgba(#000, .2)
			border 2px solid #bb8e00
			border-radius (@height / 2)
			margin-right 20px
			box-shadow 0 14px 21px rgba(#846505, .29)
			&--active
				width 60px
				height 30px
				color #000
				background-color #d9a501
				border 0
				box-shadow 3px 6px 6px rgba(#684e00, .42)
/*  </menu>  */

/*  <header>  */
.header
	flex-shrink 0
	position relative
	overflow hidden
	height 385px
	&--home
		height 656px
	^[0]&--home
		&:before
			background url('../i/header-mobile-planets-home.png') no-repeat 0 0 / cover
		.header__register-link
			top 490px
			&:before
				position absolute
				top -60px
				left 50%
				width 2px
				height 40px
				background-color #684f00
				content ''
				transform translateX(-50%)
	&__stars
		position absolute
		top 0
		left 0
		bottom 0
		z-index 1
		width 5760px
		background #000 url('../i/stars.jpg') repeat-x 0 0
		&--animate
			animation: stars 100s linear infinite
			animation-play-state running
			&:before
				animation: stars 3s linear infinite
				animation-play-state paused
				position absolute
				top 0
				right 0
				bottom 0
				left 0
				background #000 url('../i/stars.jpg') repeat-x 0 0
				content ''
		&.pushing
			animation-play-state paused
			&:before
				animation-play-state running
	&:before
		position absolute
		top 0
		right 0
		bottom 0
		left 0
		z-index 2
		background url('../i/header-mobile-planets.png') no-repeat 0 0 / cover
		content ''
	&:after
		position absolute
		bottom 0
		left 0
		z-index 3
		width 100%
		height 50px
		background url('../i/header-mountains.png') repeat-x 85px 0 / auto 100%
		content ''
	&__main
		position relative
		z-index 4
	&__menu
		position absolute
		top 123px
		right 15px
		width 144px
		height 54px
		color #fff3cd
		font-weight 600
		font-size 2.2rem
		line-height 48px
		background-color rgba(#000, .6)
		border 2px solid #bb8e00
		border-radius (@height / 2)
		padding-left 60px
		box-shadow 0 14px 21px rgba(#846505, .29)
		&:before
		&:after
			position absolute
			top 50%
			left 25px
			width 18px
			content ''
			transform translateY(-50%)
		&:before
			height 17px
			border solid #bb8e00
			border-width 3px 0
		&:after
			height 3px
			background-color #bb8e00
	&__logo
		position absolute
		top 27px
		right 15px
		left 15px
		text-align center
		filter "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12,Color='#444')"
		filter drop-shadow(5px 5px 3px rgba(#000, .84))
	&__nav
		display none
	&__lang
		position absolute
		top 123px
		left 15px
		width 93px
		height 54px
		color #c7c7c7
		font-size 2.2rem
		line-height 44px
		text-align center
		background-color rgba(#000, .6)
		border 2px solid #bb8e00
		border-radius (@height / 2)
		box-shadow 0 14px 21px rgba(#846505, .29)
		-webkit-touch-callout none
		-webkit-user-select none
		-moz-user-select none
		-ms-user-select none
		user-select none
		&-current
			position relative
			padding-left 16px
			&:before
				position absolute
				top 50%
				left 0
				width 10px
				height @width
				border solid #bb8e00
				border-width 0 2px 2px 0
				content ''
				transform rotate(-45deg) translateY(calc(-50% + 2px))
		&-list
			display none
			&--active
				display block
				animation fade .5s
		&-item
			position relative
			color #c7c7c7
			padding-left 16px
			&:before
				position absolute
				top 50%
				left 0
				width 10px
				height @width
				border solid #bb8e00
				border-width 0 2px 2px 0
				content ''
				transform rotate(-45deg) translateY(calc(-50% + 2px))
	&__login-link
		display none
	&__slogan
		display none
	&__description
		display none
		&--home
			display block
			position absolute
			top 166px
			right 15px
			left 15px
			color #ddd
			font-family fontFira
			font-size 4.2rem
			text-align center
		&--youtube
			color #d03030
			font-weight 500
	&__register-link
		position absolute
		top 212px
		right 15px
		left 15px
		height 74px
		color #fff3cd
		font-weight 600
		font-size 2.4rem
		line-height 70px
		text-align center
		background-color rgba(#000, .6)
		border 2px solid #bb8e00
		border-radius (@height / 2)
		box-shadow 0 14px 21px rgba(#846505, .29)
		span
			display none
/*  </header>  */

/*  <footer>  */
.footer
	flex-shrink 0
	height 292px
	background-color #000
	&__logo
		display none
	&__copyright
		display none
	&__nav
		display none
	&__social
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		flex-wrap wrap
		justify-content space-between
		width 232px
		color #7f7f7f
		font-size 1.6rem
		text-align center
		margin 46px auto 35px
		&-title
			width 100%
			margin 0 0 10px
		&-item
			position relative
			&:hover
				&:before
					animation fade .5s
					position absolute
					top 0
					right 0
					bottom 0
					left 0
					content ''
			&--vk
				width 38px
				height 26px
				background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAaCAMAAADsW95KAAAAclBMVEUAAACVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZXT5XjxAAAAJXRSTlMAw/XMEJlJNLtA7+vi1dGAXAiNLhcN59uzk2QkpJ5QHaymeXNsiXxgxAAAAX1JREFUKM9tk+mygzAIhTHGfalL3Wtvt/P+r3gTyDR1xu8HgYB4YJTouvVJv2kytE8FJtXE/CWW3kQdhAsRRZhCS20iywLHi1QdWSpsRCHqgfN1am2PIJKkoirkxIbOvGPBm6MgsLbDHzGPkl5IJFO0xlbzT9mYEqPVTlcVsd+gMXaufVlsbpgLMtNRsZ62sKlb6cvSopVxlY0yfPwzS/EtS3BxytDbo6qcAiNl991mdWU/xsLniljamfM5uTKT7dgdylGTUyUX4zSksp400OUoK+xwJ+GFzA37HG/s7fnssglmcug8EOcGl8zgBFGo3IqdKmZdSYgbcvVv+jIUIZ3zxpU8H6x0gmzD01aFplNmvA9P7XSKTtGQ54b7Ibv2JLSlSn7uy3wjT4hvkz4vf8ZI1OSjDN2kMhLueJCnwdT7RerNN+kQH+rUpxU3KuxUgYuGIqAfshHTixXyR3z5/odLfpy+U0BehTV2mV6FTF7TEb0+qxwqFVlrrWAZs3/zahzUOTawYwAAAABJRU5ErkJggg==')
				&:hover
					&:before
						background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAaCAMAAADsW95KAAAAmVBMVEUAAAD7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQq/j0oxAAAAMnRSTlMA+8zEmfXvNBIP6+Kl1sFMGQfn27tb0bOQZUdBLyAMloJ9d9OsnYw9yrdwX2tTKyckoBKfP7wAAAGYSURBVCjPbVLXloIwEE2QhC5SRBCUFXtZdef/P26TmSDsHu7DZMqdCowtNo3TbFymsA0FIK4uQ2wcjUZZJQX4TnltyCyNAr6Q1YIJdkwUtsaevxi7QLHFeJFr+YSZjYgEiywqz0slWujQms20PPEFQxwC1oGD6txPlIxWI1qaE8sTR7bgNupLWCq5KgZarDyILzirigLnSfy5kmEw0K5+QvMIHanhMeS0/ofmwM5Mxhv9RBFarlSj/AzVroKOt4YW3wpiKqfeMOtpMZxQ3Qapx8xU5EizbW7R2he3j57gmxF2UJtlwzRE7ShXpoXD8UQ01ZyUEExqDVCS6yLpxFRuTUp1N561UWq4sQ8832LT6GAxsm5QTdPW1NwgiXxvmrfCrkPWcZrm5ebL9kvG46hbNX2jgDsjfyDfI5oFvC/SyMAdAg7PhqVqKDN+NkYMBzZgybPn55Dce8ugTyvprAZ3Lh4Jqbavi8yN5dFH73FOIeteeIY9/jG5GaqVf7c/CQAZWXt+pO2FhZD7/2eqwkiCyGmsquCgkda/7roj00guGKIAAAAASUVORK5CYII=')
			&--twitter
				width 34px
				height 29px
				background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAdCAMAAAD4tU6IAAAAdVBMVEUAAACVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZULSkagAAAAJnRSTlMA+g586tke4AbNxDTu0pYW9LWeioS8rnRVTj0qJAi+uapoYG5GpCFAo18AAAFXSURBVCjPdZLploMgDIWDgBT3pWpdqta29/0fcbQyI3b0/oCcnO8kNwE6UJMJMK9y5rC9LSe5+TW2gDgFZNEnCB6TB8iZcRRD6PwRrsLo05x+KoCVHC8ijieH98vcQzxM6ETPmFLURKG4UA7pr3kOTpbqJJRELJ3DijG+FLoIdbER39EB3VF+ppAQvKMGV9rpvSREuJrgApAe6h0RYZirjnCN01sZAI1N5OsclV27rV0b0WIhSArd0onUagIpnYoV82HsHqtD9LlT5p4hN7PpGu8zJINxOYAfAsuqTRQrZM5hn20dfeLejxC9uczxOi6SbbMxedDIUYk1Kofu/iEjqv1zseyrGcdARm5UDjoBCn9HVJAxGXkJEPS83W8kgtyMBJGhLfkhPCsbIbjGe2AEy3c/eFJg5dSZDj7XO18mPXkAAt0XnmJAEvl0IPeRacEQyJQ3F/rSDyQkF7U/9K6QAAAAAElFTkSuQmCC')
				&:hover
					&:before
						background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAdCAMAAAD4tU6IAAAAk1BMVEUAAAD7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQrjHdOUAAAAMHRSTlMA+81+Hw0G7NrSeuC1hRD48NfFvro2GvTprp6VcWkqFQiMYEo8wquYU08xJKeiWEKzRvwwAAABZUlEQVQoz3WS15qCMBBGJwlK7yBFFAV7/d//6RZYFoML52bm4nyZkqEJDnkKFhROk24vC2pQ9nYpCSsL8KMwgbepjoDWOAuTQXcGQzFxipvobEyAZQZqIoHCQPDn7HRs+nRxLkqycCXS0yXtocXUISBI4proPhGzmrRgrmgbW6raUlZih3u0Q9ZNoUEVd3pD0IgnbCJV/23CSAEtQE0ya0REdMKq7/SVecBBNmwEbXkDNg1s65WscLU1yFf5lmYw2ya6iWZxoy6k+qyh4NxFiylzyqvf9BWPOSVH32UEMSm0q+6z0kS+mFIun3WEibKbUvinSxvv6UfyIb8zf6KQYybSqAL8/k95oCCJPdxnPTYMRMM1rzOLu0AYfxn+cM9HF1BDYzveyBra58u9dZ9LxDqCUr4r1S5J5nYC248uuDLhZpXSV4gNDoS376+oAgAeD6OjxoDkfJs8jE3OU8Y83xKHJX3xA/3oHiOh+VOqAAAAAElFTkSuQmCC')
			&--youtube
				width 42px
				height 30px
				background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAeCAMAAABt9nzSAAAAb1BMVEUAAACVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZUuWN43AAAAJHRSTlMA3O/ND/kG9Ofj04gLu5bJtsKifhc/JbGZc1kqjGE5xakgTGNujCOXAAABL0lEQVQ4y5WUyXaDMAxFJQ94imsgJEAgU6v//8aakCyInVP3LmDhyzkykh4sdGc33HofLGrGmKIIixi0wfft4M4drFRO0gPJEC3n/Op9iC+Lhr1O5uph1oTjZbqLCjJU4j4dRiS/nO6p3sEf7GraAwhlUjN1tRJwin4BezqBo0OJeiAHLR1L1CO1UJMoUQXVECRs6fKuDIAatnz5S041CBrfVaJ+SlXUwGyiRtrkrpaB4jmV5PBWM1dATaKuqHnTxYY+q9dta670qYDwndSav5aNYqLmfhaeIAVN2oLxnJ1xjUtji5ChfFz6/BBO2SEsH+1/LEzpGholFr8vWW63hIJ/Rkb+A9EdL6Mhv8bLLGmFaUTkkaZZnoiGPYPIvdrS/cxDe/MNx/d84019e8XbL13qGwehotEPAAAAAElFTkSuQmCC')
				&:hover
					&:before
						background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAeCAMAAABt9nzSAAAAhFBMVEUAAAD7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr47ZwCAAAAK3RSTlMAzO/dDPkG9OTRlogQ59q2xLuhe7FhWT4oJBbBp5mMcji6giDq1UwamEEs7uaceQAAATZJREFUOMuVlMtygzAMRSULY1PAPJOQkJB301b//391SNoZYndwz4KNzgJZ0oU7m0W627YVXikXQii2CIumBKt2u0sXG3gQp5JHpCBbRCyrCi1X0uKnMsSjWTDtD905i8FDnJ271Z64ulcbLiKYISr4ZL9KW3PWzVUES24ggIaXkPIqRF1xCjWvQ9Q111BwFqJmXABKmLLxuxKBcpjydjz4VE2Qm1eVuf1yVZODSBzVUju9JgIU+lSWH7cXVQGXPtWihskUS/5bLT/hRVWJV8V351/9bSVWdFTfY5kluJB2R9AsvDuem+dg55EYvi6tfwk77xKGr/Z/DiYLO0OtbEsnbgOPG+IjmzEyIr916w57zcdHvAySH4gLkUFL36OFSAsekak1n/E27Opt1aOhyzTfsC9+4+0b2lse7KmNv0sAAAAASUVORK5CYII=')
			&--fb
				width 35px
				height 30px
				background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAeBAMAAABUE7oZAAAAKlBMVEUAAACVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZWVlZX6NtYmAAAADXRSTlMAqEu7Du3hV/OgN8weih1PuQAAAFZJREFUKM9juIsOLjBcE0QFYhcYLjKgAkYqCLFPNnZAE5p79y6aEM9dDCGmu5fLGdCFLjEQFGKJuHsjFE0IaPpVTKHbWMwajEJcxlZQIerGEGYCwJJMAD92ckLDYKADAAAAAElFTkSuQmCC')
				&:hover
					&:before
						background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAeCAMAAACR41cYAAAANlBMVEUAAAD7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQr7wQqpKxvgAAAAEXRSTlMAqqVLuw7t4VfzujcFzEkeCyhM56gAAABhSURBVDjL7dM5EoAwCEBRJISsLtz/smLtCJmx0CK/oXkFBYD4gaTFLqlBsMOPTcZKdJgG5SpaZhffbApqzt0yQU3Q+c5ELmoKczeMaBqDb9aRfaZ5MI2I2q9u/mYGf9nvBPpbDll0MBjDAAAAAElFTkSuQmCC')
	&__payment
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		flex-wrap wrap
		justify-content space-between
		width 174px
		margin auto
		&-title
			width 100%
			color #7e7e7e
			font-size 1.6rem
			text-align center
			margin 0 0 10px
		&-item
			width 40px
			opacity .75
			margin-bottom 4px
			transition all .2s
			&:hover
				opacity 1
/*  </footer>  */

/*  <pricing>  */
.home-pricing
	position relative
	padding 40px 0 102px
	&:after
		position absolute
		bottom -22px
		left 50%
		z-index 2
		border solid transparent
		border-width 22px 22px 0
		border-top-color #353535
		content ''
		transform translateX(-50%)
	&__all
		position absolute
		bottom 40px
		left 0
		right 0
		color #d9a501
		font-weight 600
		font-size 2.4rem
		font-family fontFira
		text-decoration underline
		text-align center
		&:hover
			text-decoration none
.pricing
	&__nav
		position relative
		padding 50px 0 35px
		&:before
			position absolute
			bottom -22px
			left 50%
			border solid transparent
			border-width 22px 22px 0
			border-top-color #353535
			content ''
			transform translateX(-50%)
	&__scrollto
		width 158px
		margin 32px auto 0
		&-item
			display block
			color #c0c0c0
			font-weight 600
			font-size 2rem
			line-height 45px
			text-align center
			background-color rgba(#555, .6)
			border 2px solid
			border-radius 25px
			margin-top 19px
			box-shadow 2px 2px 0 rgba(#2f2f2f, .64)
			&--day
				border-color #9a7500
			&--week
				border-color #5992a2
			&--month
				border-color #339e38
	&__section
		position relative
		padding 34px 15px 123px
		margin 0 -15px
		&--day
			background-color #303030
			& ^[1]-title
				color #fcd65f
			& ^[1]-all
				color #987a1b
				span
					&:before
						background-color @color
			& ^[0]__item-cost
				color #f5c734
		&--week
			background-color #2a2a2a
			& ^[1]-title
				color #98d3f8
			& ^[1]-all
				color #54829d
				span
					&:before
						background-color @color
			& ^[0]__item-cost
				color #98d3f8
		&--month
			background-color #242424
			& ^[1]-title
				color #60d666
			& ^[1]-all
				color #4a8a4d
				span
					&:before
						background-color @color
			& ^[0]__item-cost
				color #7fde84
		&-title
			font-size 4.2rem
			font-family fontFira
			text-align center
			margin 0 0 -25px
		&-all
			position absolute
			bottom 60px
			right 15px
			left 15px
			font-weight 600
			font-size 2.4rem
			font-family fontFira
			text-align center
			&:hover
				text-decoration none
			span
				position relative
				padding-bottom 2px
				&:hover
					&:before
						display none
				&:before
					position absolute
					right 0
					bottom 0
					left 0
					height 1px
					content ''
	&__list
		margin-top 104px
		.flickity-prev-next-button
			top -65px
			width 25px
			height 35px
			background none
			border-radius 0
			transform none
			&.previous
				left calc(50% - 26px)
			&.next
				right auto
				left calc(50% + 4px)
			&:hover
				background none
			&:focus
				box-shadow none
			svg
				top 0
				left 0
				width 100%
				height 100%
			.arrow
				fill #9e9e9e
	&__item
		position relative
		overflow hidden
		width 100%
		background-color #5f5f5f
		padding 5px
		&:before
			position absolute
			top 0
			right 0
			bottom 0
			left 0
			z-index 1
			border 5px solid #747474
			content ''
		&-icon
			position relative
			z-index 3
			width 88px
			height @width
			line-height 74px
			text-align center
			background-color #525252
			border-radius 50%
			box-shadow inset 1px 1px 0 rgba(#000, .14)
			margin 10px auto -26px
			img
				filter drop-shadow(0 7px 8px rgba(#000, .17))
		&-info
			position relative
			z-index 2
			font-family fontFira
			text-align center
			background-color #525252
			border-top 1px solid #464646
			border-bottom 1px solid #4b4b4b
			border-left 1px solid #464646
			padding 15px 0
		&-name
			color #fff
			font-size 3.2rem
			&--period
				color #bfbfbf
				font-size 2.5rem
		&-cost
			font-weight 500
			font-size 3.4rem
			&--currency
				font-size 2.4rem
		&-descr
			position relative
			z-index 3
			border-top 1px solid #6f6f6f
			border-bottom 1px solid #4b4b4b
			padding 15px 15px 15px 60px
			margin 0
			li
				position relative
				list-style none
				color #fff
				font-size 1.8rem
				padding-left 20px
				margin 7px 0
				&:before
					position absolute
					top 8px
					left 0
					width 6px
					height @width
					background-color #f5c734
					border-radius 50%
					content ''
		&-buy
			position relative
			z-index 3
			text-align center
			background-color #555
			border-top 1px solid #6f6f6f
			padding 18px 0
		&-label
			position absolute
			top 10px
			right -70px
			z-index 2
			width 200px
			text-align center
			transform rotate(45deg)
			&--hit
				color #ffdada
				font-weight 500
				font-size 2.8rem
				font-family fontFira
				background-color #d03030
				span
					position relative
					padding 0 10px
					&:before
					&:after
						position absolute
						top 50%
						width 4px
						height @width
						background-color #9a1818
						border-radius 50%
						content ''
						transform translateY(-50%)
					&:before
						left 0
					&:after
						right 0
/*  </pricing>  */

/*  <about-us>  */
.about-us
	position relative
	padding 45px 0 60px
	&--home
		background-color #3b3b3b
		padding-top 55px
		&:after
			position absolute
			bottom -22px
			left 50%
			z-index 2
			border solid transparent
			border-width 22px 22px 0
			border-top-color #3b3b3b
			content ''
			transform translateX(-50%)
		& ^[0]__text
			margin-top 30px
	&__text
		font-size 1.6rem
		line-height 2.4rem
	&__more
		display block
		color #a2a1a1
		font-size 2.4rem
		font-family fontFira
		text-align center
		margin-top 18px
		&:hover
			text-decoration none
		&--underline
			position relative
			padding-bottom 4px
			&:hover
				&:before
					background-color #a2a1a1
			&:before
				position absolute
				right 0
				bottom 0
				left 0
				height 1px
				background-color #93761b
				content ''
				transition all .2s
	&__hidden
		display none
/*  </about-us>  */

/*  <why-we>  */
.why-we
	background-color #323232
	padding 60px 0
	margin-bottom -40px
	&__item
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		flex-wrap wrap
		align-items center
		margin-top 36px
		&-icon
			display -webkit-flex
			display -moz-flex
			display -ms-flex
			display -o-flex
			display flex
			justify-content center
			align-items center
			overflow hidden
			width 90px
			height 90px
			background-color rgba(#747474, .19)
			border 1px solid #4c4c4c
			border-radius 50%
			box-shadow 0 5px 16px rgba(#000, .18)
			img
				filter drop-shadow(1px 1px 1px rgba(#332700, .58))
		&-title
			flex 1
			color #e6ba2b
			font-weight 500
			font-size 3rem
			font-family fontFira
			margin-left 15px
		&-descr
			width 100%
			font-size 1.6rem
			line-height 2.4rem
			margin-top 10px
/*  </why-we>  */

/*  <articles>  */
.articles
	padding-top 50px
	.page-background
		margin-top 30px
	&__loadmore
		background-color #3b3b3b
		padding 50px 15px 100px
		margin 50px -15px -40px
		.btn
			height 72px
			border-radius (@height / 2)
.article
	&__item
		margin-bottom 80px
		&:last-child
			margin-bottom 0
		&-pic
			margin-bottom 30px
			img
				width 100%
		&-name
			color #fff
			font-weight 500
			font-size 2.8rem
			font-family fontFira
			margin-bottom 20px
		&-info
			color #a7a7a7
			font-weight 600
			font-size 1.6rem
			margin-bottom 30px
			time
				&:after
					margin 0 12px
					content '|'
		&-text
			display none
		&-readmore
			text-align center
			a
				display inline-block
				width 195px
				height 40px
				color #d1d1d1
				font-weight 600
				font-size 2rem
				line-height 36px
				text-align center
				background-color #4b4b4b
				border 2px solid #9a7500
				border-radius (@height / 2)
/*  </articles>  */